In [1]:
import numpy as np

import os
import pandas as pd
import pickle

reslist = ['res2/'+fnm for fnm in os.listdir('res2/')]

data = []
allkeys = []
for i in range(len(reslist)) :
    with open(reslist[i], 'rb') as f:
        data1 = pickle.load(f)
    data.append(data1)
    allkeys += data1.keys()

allkeys = list(set(allkeys))

newlist = {}
for i in range(len(data)) :
    if i == 0 :
        for k1 in allkeys :
            try :
                newlist[k1] = [ data[i][k1] ]
            except :
                newlist[k1] = [-999]
    else :
        for k1 in allkeys :
            try :
                newlist[k1].append(data[i][k1])
            except :
                newlist[k1].append(-999)

df1 = pd.DataFrame(newlist)

df1[df1.use_mel == True][df1.samp_sec==20][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

df1[df1.use_mel == True][df1.samp_sec==30][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

df1[df1.use_mel == True][df1.samp_sec==40][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]


df1.to_csv("res.csv")

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:36: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:38: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:40: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [2]:
df1

,model1,ext,use_mel,hop_length,model_fnm1,min_cost,out_cost,cqt_shape,dp,max_wc,...,pre_emphasis,n_bins,samp_sec,n_mels,model2,mm_weight,oo_weight,mel_shape,ord1,fc
0,lcnn1,-999,True,256,lcnn_hp_0/lcnn1_model1.hdf5,10894.687096,15505.412430,"(1, 1, 1)",-999.0,0.760108,...,0.0,80,20,100,lcnn2,-999,-999,"(100, 313, 1)",True,-999
1,lcnn1,-999,True,256,lcnn_hp_1/lcnn1_model1.hdf5,11732.383431,14186.454264,"(1, 1, 1)",-999.0,0.762803,...,0.0,80,20,100,lcnn2,-999,-999,"(100, 313, 1)",True,-999
2,lcnn1,-999,True,256,lcnn_hp_2/lcnn1_model1.hdf5,10566.101718,15113.883442,"(1, 1, 1)",-999.0,0.754717,...,0.0,80,20,100,lcnn2,-999,-999,"(100, 313, 1)",True,-999
3,lcnn1,-999,True,256,lcnn_hp_0/lcnn1_model1.hdf5,11462.312073,18180.820825,"(1, 1, 1)",-999.0,0.795148,...,0.0,80,20,100,lcnn2,-999,-999,"(100, 313, 1)",True,-999
4,lcnn1,-999,True,256,lcnn_hp_1/lcnn1_model1.hdf5,11448.691152,14769.175788,"(1, 1, 1)",-999.0,0.808625,...,0.0,80,20,100,lcnn2,-999,-999,"(100, 313, 1)",True,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,lcnn1_dr,True,True,128,lcnn_dr_15/lcnn1_dr_model1.hdf5,11982.987344,14087.568955,"(1, 1, 1)",0.4,0.778976,...,0.0,80,20,120,lcnn2_dr,3,3,"(120, 626, 1)",True,True
75,lcnn1_dr,False,True,256,lcnn_dr_16/lcnn1_dr_model1.hdf5,11027.361034,15515.318079,"(1, 1, 1)",0.3,0.781671,...,0.0,80,20,100,lcnn2_dr,2,4,"(100, 313, 1)",True,False
76,lcnn1_dr,True,True,128,lcnn_dr2_15/lcnn1_dr_model1.hdf5,11997.678740,16330.544602,"(80, 157, 1)",0.3,0.770889,...,0.0,80,20,140,lcnn2_dr,5,3,"(140, 626, 1)",False,False
77,lcnn1_dr,True,True,128,lcnn_dr_17/lcnn1_dr_model1.hdf5,15140.890052,25689.450262,"(80, 157, 1)",0.6,0.512129,...,0.0,80,20,140,lcnn2_dr,5,5,"(140, 626, 1)",True,True
78,lcnn1_dr,False,True,256,lcnn_dr_18/lcnn1_dr_model1.hdf5,15140.890052,21525.500486,"(80, 157, 1)",0.6,0.690027,...,0.0,80,20,120,lcnn2_dr,4,3,"(120, 313, 1)",False,True

In [3]:
df1[df1.use_mel == True][df1.samp_sec==20][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

        min_cost  min_th    max_wc  max_th  mm_weighted_accuracy      out_cost
0   10894.687096    0.40  0.760108    0.45              0.746631  15505.412430
1   11732.383431    0.45  0.762803    0.55              0.743935  14186.454264
2   10566.101718    0.40  0.754717    0.50              0.754717  15113.883442
3   11462.312073    0.35  0.795148    0.50              0.795148  18180.820825
4   11448.691152    0.40  0.808625    0.55              0.781671  14769.175788
..           ...     ...       ...     ...                   ...           ...
74  11982.987344    0.35  0.778976    0.60              0.754717  14087.568955
75  11027.361034    0.40  0.781671    0.45              0.741240  15515.318079
76  11997.678740    0.45  0.770889    0.60              0.644205  16330.544602
77  15140.890052    0.01  0.512129    0.01              0.512129  25689.450262
78  15140.890052    0.01  0.690027    0.45              0.601078  21525.500486

[70 rows x 6 columns]

In [14]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('ext').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
ext,,,,,,
False,12276.978602,0.344286,0.749069,0.519048,0.701450,16982.493081
True,12517.693501,0.322857,0.718906,0.390714,0.678283,17019.758501

In [15]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('fc').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
fc,,,,,,
False,11964.879508,0.373333,0.762983,0.490,0.716262,16106.930244
True,12679.553351,0.307500,0.717520,0.451,0.674124,17665.251003

In [16]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('dp').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
dp,,,,,,
0.3,12001.349810,0.393750,0.754380,0.450000,0.698787,15250.990285
0.4,11875.128207,0.405556,0.741839,0.577778,0.711291,15798.192283
0.5,12230.117311,0.322857,0.759338,0.400000,0.699268,17793.498112
0.6,13142.407830,0.244545,0.706199,0.433636,0.667238,18742.075827

In [17]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('win_length').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
win_length,,,,,,
128,13072.964139,0.298000,0.714286,0.486000,0.676819,18952.491483
256,12138.353881,0.322857,0.734309,0.415714,0.706199,16704.360331
512,12267.498516,0.346000,0.761995,0.440000,0.703235,16715.134841
800,11836.394491,0.381250,0.736523,0.525000,0.685310,15162.773520

In [18]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('use_cqt').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
use_cqt,,,,,,
False,12341.990062,0.320000,0.738261,0.453158,0.693432,16994.764884
True,12410.403030,0.354375,0.735512,0.485000,0.690701,17000.527557

In [19]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('use_stft').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
use_stft,,,,,,
False,12339.571169,0.365714,0.727955,0.447143,0.665576,17647.679591
True,12395.726823,0.315714,0.743037,0.481429,0.709922,16563.879021

In [20]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('mm_mean').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
mm_mean,,,,,,
False,12568.890587,0.337778,0.722671,0.495556,0.675951,17467.664774
True,12166.131122,0.333529,0.752180,0.438235,0.709371,16499.471046

In [21]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('trim').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
trim,,,,,,
1,12258.249319,0.337222,0.747529,0.481111,0.704253,16850.447604
4000,12495.045406,0.334118,0.725860,0.453529,0.679404,17152.995108

In [22]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('ord1').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
ord1,,,,,,
False,12394.556844,0.341875,0.737365,0.397500,0.680256,16781.974623
True,12355.334218,0.330526,0.736700,0.526842,0.702227,17178.809460

In [23]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('mm_weight').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
mm_weight,,,,,,
2,12478.907133,0.378889,0.734951,0.427778,0.695418,17640.773904
3,11896.571908,0.350000,0.763881,0.460000,0.719677,15905.822686
4,12508.586846,0.280000,0.720276,0.434444,0.682240,17232.143399
5,12391.162857,0.339167,0.739892,0.525833,0.685759,16793.633713

In [24]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('oo_weight').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
oo_weight,,,,,,
2,12070.447460,0.358571,0.749711,0.592857,0.689642,16645.984152
3,12356.251281,0.328889,0.755615,0.438889,0.695717,16090.998195
4,12362.290800,0.340000,0.756214,0.500000,0.717580,17140.345012
5,12610.424870,0.322000,0.694070,0.377000,0.667925,17930.499578

In [25]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('n_mels').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow2.4_p37/lib/python3.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
n_mels,,,,,,
100,12393.625279,0.350909,0.736339,0.446364,0.698113,16828.112400
120,12734.461910,0.294167,0.745957,0.487500,0.701932,17827.434886
140,11993.403221,0.363333,0.728661,0.467500,0.676999,16322.543224