In [54]:
import numpy as np

import os
import pandas as pd
import pickle

reslist = ['res16/'+fnm for fnm in os.listdir('res16/')]

data = []
allkeys = []
for i in range(len(reslist)) :
    with open(reslist[i], 'rb') as f:
        data1 = pickle.load(f)
    data.append(data1)
    allkeys += data1.keys()

allkeys = list(set(allkeys))

newlist = {}
for i in range(len(data)) :
    if i == 0 :
        for k1 in allkeys :
            try :
                newlist[k1] = [ data[i][k1] ]
            except :
                newlist[k1] = [-999]
    else :
        for k1 in allkeys :
            try :
                newlist[k1].append(data[i][k1])
            except :
                newlist[k1].append(-999)

df1 = pd.DataFrame(newlist)

df1[df1.use_mel == True][df1.samp_sec==20][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

# df1[df1.use_mel == True][df1.samp_sec==30][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

# df1[df1.use_mel == True][df1.samp_sec==40][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]


df1.to_csv("res.csv")

In [55]:
df1.columns

Index(['cqt_shape', 'max_wc', 'fmin', 'mel_shape', 'samp_sec', 'mixup',
       'use_stft', 'model_fnm2', 'filter_scale', 'mm_mean', 'trim', 'use_cqt',
       'min_th', 'ext2', 'stft_shape', 'max_th', 'oo_weight', 'cout', 'model2',
       'use_rr', 'n_mels', 'dp', 'mm_weight', 'min_cost', 'model_fnm1',
       'out_cost', 'hop_length', 'model1', 'n1', 'mm_weighted_accuracy',
       'pre_emphasis', 'ord1', 'chaug', 'use_mel', 'wunknown', 'win_length',
       'ext', 'n_bins', 'fc'],
      dtype='object')

In [56]:
df1[df1.use_mel == True][df1.samp_sec==20][['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

        min_cost  min_th    max_wc  max_th  mm_weighted_accuracy      out_cost
0   10894.392741    0.60  0.792453    0.44              0.757412  14916.196498
1   10817.936950    0.60  0.797844    0.49              0.784367  14706.772414
2   11064.183584    0.63  0.784367    0.48              0.776280  15131.463961
3   10267.342984    0.61  0.789757    0.48              0.760108  14496.255505
4   11140.589292    0.60  0.795148    0.48              0.776280  15125.620581
5   11354.715092    0.62  0.752022    0.45              0.738544  14913.897229
6   11767.920012    0.60  0.795148    0.51              0.784367  14704.473145
7   10835.193085    0.60  0.789757    0.59              0.760108  14090.184785
8   11465.103644    0.59  0.787062    0.47              0.778976  15125.620581
9   11331.715182    0.59  0.787062    0.48              0.776280  14705.679589
10  10651.333032    0.61  0.808625    0.55              0.795148  13880.760702
11  11415.607493    0.63  0.787062    0.54              0.773585  14704.473145
12  10758.210038    0.63  0.784367    0.58              0.768194  14916.196498
13  11437.500518    0.57  0.792453    0.48              0.768194  14299.608869
14  10899.282270    0.63  0.800539    0.49              0.787062  14916.196498
15  10686.191151    0.60  0.792453    0.44              0.792453  14706.772414
16  10930.223677    0.60  0.781671    0.49              0.757412  14705.679589
17  11044.617169    0.60  0.768194    0.49              0.760108  14705.679589
18  11485.666341    0.65  0.784367    0.51              0.781671  15140.890052
19  10475.544574    0.60  0.784367    0.56              0.760108  13715.847382
20  11043.463905    0.62  0.792453    0.46              0.768194  14704.473145
21  10488.713534    0.62  0.797844    0.53              0.781671  13527.869054
22   9711.089619    0.62  0.797844    0.53              0.792453  13697.681225
23  10966.178444    0.58  0.795148    0.51              0.789757  14116.529393
24   9848.494816    0.62  0.803235    0.51              0.800539  14090.184785
25  11400.140830    0.62  0.808625    0.53              0.805930  15131.463961
26  11041.415104    0.63  0.795148    0.50              0.795148  15140.890052
27  10689.858187    0.63  0.792453    0.51              0.784367  14299.608869
28  11161.087584    0.60  0.797844    0.50              0.797844  15131.463961

# PI 만 쓴것 -> EXT2 True -> WC가 높아야함
# PI,Base 모두 다 쓴것 -> EXT_False -> COST가 낮아야함

In [64]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr_rr'][df1.samp_sec==20].groupby('ext2').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
ext2,,,,,,
False,10773.209787,0.610000,0.793632,0.511875,0.780492,14410.004935
True,11130.950328,0.610769,0.787477,0.491538,0.774207,14837.565732

In [66]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr_rr'][df1.samp_sec==20][['ext2','min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

,ext2,min_cost,min_th,max_wc,max_th,mm_weighted_accuracy,out_cost
0,False,10894.392741,0.60,0.792453,0.44,0.757412,14916.196498
1,False,10817.936950,0.60,0.797844,0.49,0.784367,14706.772414
2,True,11064.183584,0.63,0.784367,0.48,0.776280,15131.463961
3,False,10267.342984,0.61,0.789757,0.48,0.760108,14496.255505
4,True,11140.589292,0.60,0.795148,0.48,0.776280,15125.620581
5,False,11354.715092,0.62,0.752022,0.45,0.738544,14913.897229
6,False,11767.920012,0.60,0.795148,0.51,0.784367,14704.473145
7,False,10835.193085,0.60,0.789757,0.59,0.760108,14090.184785
8,True,11465.103644,0.59,0.787062,0.47,0.778976,15125.620581
9,True,11331.715182,0.59,0.787062,0.48,0.776280,14705.679589
10,False,10651.333032,0.61,0.808625,0.55,0.795148,13880.760702
11,True,11415.607493,0.63,0.787062,0.54,0.773585,14704.473145
12,True,10758.210038,0.63,0.784367,0.58,0.768194,14916.196498
13,True,11437.500518,0.57,0.792453,0.48,0.768194,14299.608869
14,True,10899.282270,0.63,0.800539,0.49,0.787062,14916.196498
15,True,10686.191151,0.60,0.792453,0.44,0.792453,14706.772414
16,True,10930.223677,0.60,0.781671,0.49,0.757412,14705.679589
17,True,11044.617169,0.60,0.768194,0.49,0.760108,14705.679589
18,True,11485.666341,0.65,0.784367,0.51,0.781671,15140.890052
19,False,10475.544574,0.60,0.784367,0.56,0.760108,13715.847382
20,True,11043.463905,0.62,0.792453,0.46,0.768194,14704.473145
21,False,10488.713534,0.62,0.797844,0.53,0.781671,13527.869054
22,False,9711.089619,0.62,0.797844,0.53,0.792453,13697.681225
23,False,10966.178444,0.58,0.795148,0.51,0.789757,14116.529393
24,False,9848.494816,0.62,0.803235,0.51,0.800539,14090.184785
25,False,11400.140830,0.62,0.808625,0.53,0.805930,15131.463961
26,False,11041.415104,0.63,0.795148,0.50,0.795148,15140.890052
27,False,10689.858187,0.63,0.792453,0.51,0.784367,14299.608869
28,False,11161.087584,0.60,0.797844,0.50,0.797844,15131.463961

In [29]:
df1[df1.use_mel == True][df1.samp_sec==20].groupby('ext2').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [use_cqt, ext, mm_weight, out_cost, min_th, dp, stft_shape, pre_emphasis, use_rr, model1, use_mel, ord1, model_fnm2, min_cost, cout, filter_scale, win_length, model2, use_stft, mel_shape, wunknown, mm_mean, max_th, oo_weight, fc, trim, n1, samp_sec, model_fnm1, mixup, n_bins, cqt_shape, hop_length, fmin, max_wc, chaug, ext2, n_mels, mm_weighted_accuracy]
Index: []

[0 rows x 39 columns]

In [6]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('dp').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/2487798206.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('dp').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [7]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('win_length').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/4208191679.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('win_length').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [8]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('use_cqt').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/3418545181.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('use_cqt').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [9]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('use_stft').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/2405184312.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('use_stft').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [10]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('mm_mean').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/1625680927.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('mm_mean').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [11]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('trim').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/2863082002.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('trim').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [12]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('ord1').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/1358378743.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('ord1').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [13]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('mm_weight').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/51337986.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('mm_weight').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [14]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('oo_weight').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/2832153405.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('oo_weight').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []

In [15]:
df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('n_mels').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

/tmp/ipykernel_206903/572914904.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df1.use_mel == True][df1.model1=='lcnn1_dr'][df1.samp_sec==20].groupby('n_mels').mean()[['min_cost', 'min_th', 'max_wc','max_th','mm_weighted_accuracy', 'out_cost']]

Empty DataFrame
Columns: [min_cost, min_th, max_wc, max_th, mm_weighted_accuracy, out_cost]
Index: []